
 
// Padding
$padding_large : 24px;
$padding_medium : 16px;
$padding_medium_small : 12px;
$padding_small : 8px;
$padding_xs : 4px;

// border radius
$border_radius_large : 12px;
$border_radius_medium : 8px;
$border_radius_small : 6px;
$border_radius_xs : 4px;

// Colors
$text_primary : #2E6B38;
$hover_bg_color : #E1F2E4;




