
.wtdqs-quicksnap {
    position: relative;
    min-width: 400px; 
  }
  .wtdqs-search-result .wtdqs-quicksnap-loading {
	padding: 16px;
    
    text-align: center;
} 
  .wtdqs-search-result .wtdqs-quicksnap-no-result {
	padding: 16px;
}
  .wtdqs-search-result .wtdqs-quicksnap-loading svg {
	height: 70px;
    width: 70px; 
} 
.wtdqs-search-result {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff !important;
    padding: 8px 0 !important;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  } 
  .wtdqs-search-result.active {
    visibility: visible;
    opacity: 1;
  }
  .wtdqs-search-result ul li a {
    display: flex;
    gap: 16px;
    padding: 8px;
    transition: 0.4s; 
  }
  .wtdqs-search-result ul li a .thumbnail {
    min-width: 50px !important;
    height: 50px !important;
  }
  .wtdqs-search-result ul li a .content h3 {
    font-size: 18px;
    padding: 0 !important;
    margin: 0 !important;
  }
 
  .wtdqs-search-result ul li a .content p {
    padding: 0 !important;
    margin: 0 !important;
  }
  .wtdqs-search-result ul li a .thumbnail img {
    height: 100% !important;
    width: 100% !important;
  } 
  .wtdqs-search-result ul li a:hover {
    background-color: #f2f2f2;
  } 

  /* Top Bottom left right*/
  .wtdqs-quicksnap.wtdqs-thumbnail-top ul li a, .wtdqs-quicksnap.wtdqs-thumbnail-bottom ul li a, .wtdqs-quicksnap.wtdqs-thumbnail-right ul li a {
    width: 100%;
    flex-wrap: wrap;
  } 
  .wtdqs-quicksnap.wtdqs-thumbnail-right ul li a {
    flex-wrap: nowrap; 
  }
  .wtdqs-quicksnap.wtdqs-thumbnail-top ul li a .thumbnail, .wtdqs-quicksnap.wtdqs-thumbnail-bottom ul li a .thumbnail {
    width: 100%;
    height: 65px !important; 
  }
  .wtdqs-quicksnap.wtdqs-thumbnail-top ul li a .thumbnail img, .wtdqs-quicksnap.wtdqs-thumbnail-bottom ul li a .thumbnail img {
    width: 65px !important;
  }
  .wtdqs-quicksnap.wtdqs-thumbnail-bottom ul li a .thumbnail, .wtdqs-quicksnap.wtdqs-thumbnail-right ul li a .thumbnail {
    order: 2; 
  }
  .wtdqs-quicksnap.wtdqs-thumbnail-bottom ul li a .content, .wtdqs-quicksnap.wtdqs-thumbnail-right ul li a .content {
    order: 1; 
  }
  .wtdqs-quicksnap.wtdqs-thumbnail-right ul li a .content {
    flex-wrap: column; 
  }